#navbar1 {
    width:100%;
    height:50px;
    border:1px solid red ;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#nav2 {
    margin: auto;
}

#nav2 img {
    width:40%;
    height:150px;
    display:flex;
    justify-content: center;
    align-items: center;
  
    margin: auto;
}
.nav2-1{
    width:80%;
    height: 50px;
    border: 1px solid teal;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    margin: auto;
}
#main  {
   width:100%;
   height: 600px;
   border:1px solid teal;
   display: flex;
   margin : 50px  0px;
}
#main > div {
    width:50%;
    height:600px;
    border:1px solid red ;
    background-color: 
    #faf6f5
}
#main > div img {
    width:100% ;
    height:100%;

}
#main > div  div {
    width:60%;
    height:60%;
    margin:auto;
    padding-top: 110px;
}

#main > div div h3 {
    font-weight: lighter;
    color: gray;
}
#main > div div h1 {
    font-size: 40px;
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

#main2 {
    width:100%;
    height: 600px;
    border:1px solid teal;
    display:flex;
    justify-content: space-evenly;
    text-align: center
}

#main2> div {
    width:30%;
    /* height:400px; */
    margin-bottom: 50px;
    padding-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    

}

#main2 > div img {
    width:100%;
    height:400px;
    
}

#main2 > div h4 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 50px;
}

#main3{
    width:100%;
   height: 600px;
   border:1px solid teal;
   display: flex;
   margin : 50px  0px;
}

#main3 > div {
    width:50%;
    height:600px;
    border:1px solid red ;
    background-color: 
    #faf6f5
}

#main3 > div img {
    width:100% ;
    height:100%;
}

#main3 > div  div {
    width:60%;
    height:60%;
    margin:auto;
    padding-top: 110px;
    
}

#main3 > div div h3 {
    font-weight: lighter;
    color: gray;
}
#main3 > div div h1 {
    font-size: 40px;
    font-weight: lighter;
}

h1+ h4 {
    text-align: center;
    font-weight: lighter;
}
#main4 {
    width:100%;
    height: 600px;
    border:1px solid teal;
    display:flex;
    justify-content: space-evenly;
    text-align: center
}

#main4 > div img {
    width:100%;
    height:400px;
    
}

#main4 > div h4 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 50px;
}

#main4> div {
    width:30%;
    /* height:400px; */
    margin-bottom: 50px;
    padding-bottom: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    

}

#main5  {
    width:100%;
    height: 600px;
    border:1px solid teal;
    display: flex;
    margin : 50px  0px;
 }
 #main5 > div {
     width:50%;
     height:600px;
     border:1px solid red ;
     background-color: 
     #faf6f5
 }
 #main5 > div img {
     width:100% ;
     height:100%;
 
 }
 #main5 > div  div {
     width:60%;
     height:60%;
     margin:auto;
     padding-top: 110px;
 }
 
 #main5 > div div h3 {
     font-weight: lighter;
     color: gray;
 }
 #main5 > div div h1 {
     font-size: 40px;
     font-weight: lighter;
 }

 #main6 {
    width:100%;
    height: 600px;
    border:1px solid teal;
    display:flex;
    justify-content: space-evenly;
    text-align: center
}

#main6 > div img {
    width:70%;
    height:400px;
    
}

#main6 > div p {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 50px;
}



