body {
    margin: 0%;
    padding: 0px;
    font-family: ProximaNovaMedium, Arial, Sans-Serif;
}

#mainnav {
    height: 120px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#navbar {
    margin: auto;
    width: 98%;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

#navsp>img {
    width: 15px;
    height: 15px;
    align-items: center;
}

#navbar>p>a,h2>a {
    text-decoration: none;
    color: black;
}

#navbarend {
    width: 250px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

#navbarend>div {
    align-items: center;
}

#navbarend>div>a {
    text-decoration: none;
    color: black;
    align-items: center;

}

#navbarsecond {
    display: flex;
    width: 70%;
    margin: auto;
    text-decoration: none;
}

#navbarsecond>a {
    text-decoration: none;
    color: black;
    margin: auto;
}

#footer {
    display: flex;
    font-size: medium;

}

#onef {
    width: 20%;
    margin-left: 20px;
}

#onef>div {
    margin-top: 12px;
    gap: 20px;
}

#onef>div>a {
    text-decoration: none;
    color: black;



}

#secf>div {
    margin-top: 12px;
    gap: 20px;
}

#secf {
    width: 20%;
    margin-left: 20px;
}

#secf>div>a {
    text-decoration: none;
    color: black;



}

#thrf {
    width: 60%;
}

#fimg>img {
    width: 40px;
    height: 40px;
    margin-left: 30px;
}

#lastbar>a {
    text-decoration: none;
    color: black;
    margin-left: 10px;

}

#skin {
    width: 100%;
    height: 600px;

    background-image: url("https://www.rodanandfields.com/en-us/medias/22-Regimen-Collage-HP-Banner-72.jpg?context=bWFzdGVyfHJvb3R8Njc0MDM5fGltYWdlL2pwZWd8aDJkL2gyMy8xNTQwNjc0NzY0ODAzMC5qcGd8OWYyY2ZlYjk4NjNjZjhlNzhmNTQ2M2NjMzgxNzg4YTIzZDdmOTlkNjUyOTIzM2QzNDYxNDdhZGJkNzU2MTEzYg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#skinm {
    width: 345px;
    height: 500px;
    font-weight: lighter;
    margin-left: 5%;
    border: 0.1px solid #f7f6f2;
    font-family: Arial, sans-serif;

}

#skinm>h2 {
    margin-top: 20%;
    font-weight: 400;
}

#skinm>h3 {
    font-weight: 300;
    margin-top: 10%;
}

#skinm>p {
    font-weight: 200;
    margin-top: 10%;
}

#skinm>button {
    width: 300px;
    background-color: white;
    height: 40px;
    text-align: center;
    margin: auto;
    margin-left: 3%;
    margin-top: 18%;
    border-radius: 8px;
}

#anchortag {
    margin-top: 10px;
    margin-bottom: 10px;
}

#anchortag>a {
    margin-top: 10px;
    color: black;
    margin-left: 90%;
}

#shopbestsellr {
    width: 100%;
    height: 600px;
    display: flex;
    background-color: rgb(247, 246, 242);
    overflow: scroll;
}

#shopbestsellr>div {
    width: 300px;
    margin-left: 20px;
    height: 520px;
    background-color: white;
    margin-top: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#shopbestsellr>div>img {
    width: 300px;
    height: 230px;
}

#shopbestsellr>div>p {
    height: 40px;
    margin-left: 10px;
}

#shopbestsellr>div>h4 {
    height: 20px;
    margin-left: 10px;
}

#shopbestsellr>div>p:first-child {
    height: 10px;
    margin-left: 60%;
}

#shopbestsellr>div>h5 {
    margin-left: 10px;
    font-weight: normal;
    margin-top: -5%;
}

#shopbestsellr>div>button {
    margin-left: 18%;
    background-color: transparent;
    width: 200px;
    margin-top: -3%;
    height: 30px;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

#Dreminspired {
    background-color: rgb(247, 246, 242);
    height: 450px;
}

#Dreminspired>button {
    margin: auto;
    width: 300px;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 20px;
    cursor: pointer;

}

#Dreminspired>h1 {
    margin: auto;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

    margin-top: 40px;
    width: 500px;
    font-weight: 400;
    color: #222;
    line-height: 1.27;
    letter-spacing: 1px;

    text-transform: none;
}

#Dremin {
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 30px;
    align-items: center;


}

.card {
    margin-left: 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    position: relative;
    display: inline-block;
}

.card>img {
    width: 200px;
    height: 200px;
    border-radius: 10px;

}

.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    left: 0;
    z-index: 99;
}

.card:hover .img-top {
    display: inline;
}

#threediv {
    display: flex;
    overflow: scroll;
    width: auto;
    height: 500px;
    align-items: center;


}

#threein {
    width: 720px;
    display: flex;
    gap: 25PX;
    margin-left: 20px;
    height: 400px;

    background-color: wheat;
    border-radius: 10px;
    align-items: center;
}

#threein>div {
    width: 500px;
    height: 300PX;
    margin-left: 50px;
}

#threein>div>img {
    width: 100%;
    height: 100%;

}

#threein>div>a {
    color: black;
}

#threediv>div:first-child {
    background-color: rgb(162, 129, 8);
}

#threediv>div:nth-child(2) {
    background-color: rgb(204, 226, 198);
}

#threediv>div:nth-child(1) {
    background-color: rgb(238, 230, 196);
}

#threediv>div:nth-child(3) {
    background-color: rgb(241, 225, 221);
}

#doctor {
    display: flex;
    height: 500px;
    margin: auto;
    align-items: center;

}

#indr {
    width: 30%;

    margin-left: 2.5%;
    text-align: center;
    height: 400px;
}

#indr>div>img {
    width: 100%;
    height: 100%;
}

#indr>div>a {
    color: black;

}

#finda {
    background-color:rgb(199, 220, 241);
    height: 250px;
    margin: auto;
border: 1px solid rgb(199, 220, 241);
    align-items: center;
}
#innfindr {
    display: flex;
    width: 70%;
    margin: auto;

    border-radius: 5px;
    height: 130px;
    margin-top: 4%;
    background-color: white;
    align-items: center;
    text-align: center;
}

#finda>div>h2 {
    width: 33%;
}

#finda>div>div {
    width: 33%;
}

#finda>div>button {
    width: 20%;
    background-color: white;
    border: 1px solid black;
    height: 40px;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}