/* paycard css part */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color:#f6ede7;
  }
  #submit {
    width: 90%;
    margin: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: -2px;
  }
  input,
  select {
    display: block;
    margin: 15px 0px;
    font-size: 20px;
    padding: 2%;
    border-radius: 5px; 
  }
  
  form {
    width: 400px;
    border: 1px solid teal;
    margin: 3% auto;
    padding: 3%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: lightgray;

  }
  h2{
      margin-bottom: 30px;
      font-family: Arial, Helvetica, sans-serif;
  }
  label{
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  img{
    display: block;
    margin: auto;
    margin-bottom: -20px;
    margin-top: 20px;
}