body {
    margin:0 ;
    padding:0 ;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}




#heading {
    text-align: center;
}

#card-section {
    width:100%;

    height:400px;
    margin:auto;
    margin-top: 10px;
    display: flex
}

#card-section > div {
    width:18%;
    height:98%;

    margin: auto;
}

#middle {
    width:100%;
    height:600px;
    border:1px solid red ;
    margin:auto;
    margin-top: 60px;
    display: flex;
}
#card-section img {
   font-size: 5px;
}

#last {
    width:100%;
    height:400px;
    margin:auto;
    margin-top: 10px;
    display:flex;
}